{%extends 'main/base.html'%}
<!--[if IE 8]>This is Home<![endif]-->
{% block title %}User Manual{% endblock %}
<!--[if IE 8]>This is Home<![endif]-->
{%block content%} {% load static %}

<div class="jumbotron jumbotron-fluid" style="margin-left: 50px;margin-right: 50px;margin-bottom: 80px;margin-top: 80px;background-color:rgba(105, 105, 105, 0);">
    <style>
        .progress {
            width: 172.8px;
            height: 31.7px;
            border-radius: 28.8px;
            color: #001940;
            border: 2.9px solid;
            position: relative;
        }
        
        .progress::before {
            content: "";
            position: absolute;
            margin: 2.9px;
            inset: 0 100% 0 0;
            border-radius: inherit;
            background: currentColor;
            animation: progress-pf82op 5s infinite;
        }
        
        .fetching {
            color: rgb(0, 29, 65);
        }
        
        @keyframes progress-pf82op {
            100% {
                inset: 0;
            }
        }
    </style>
    <center>
        <div class="col-sm-12" id="loader">
            <div class="progress" style="display: flex;align-items:center;justify-content:center">

            </div>
            <div class="fetching"><strong>Fetching content...</strong></div>
        </div>
    </center>
    <iframe style="display: none;border-radius: 2ex;border: 2px solid black;" id='pdf' src="{% static 'img/manualPdf.pdf'%}#toolbar=1" width="100%" height="700px">
    </iframe>
</div>
<script>
    setTimeout(function() {
        document.getElementById('loader').style.display = "none";
        document.getElementById('pdf').style.display = "block";
    }, 5000)
</script>
{%endblock%}